In [3]:
import pandas as pd
df = pd.read_csv('HR_comma_sep.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [15]:
one_hot_encoded = pd.get_dummies(df['Department'], drop_first=True)
one_hot_encoded = one_hot_encoded.astype(int)
df_encoded = pd.concat([df, one_hot_encoded], axis=1)
df_encoded.drop(columns=['Department'], inplace=True)
df_encoded

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.38,0.53,2,157,3,0,1,0,low,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,262,6,0,1,0,medium,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,272,4,0,1,0,medium,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,223,5,0,1,0,low,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,159,3,0,1,0,low,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,low,0,0,0,0,0,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,low,0,0,0,0,0,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,low,0,0,0,0,0,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,low,0,0,0,0,0,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,low,0,0,0,0,0,0,0,1,0

In [21]:
left_df = df[df['left'] == 1]
not_left_df = df[df['left'] == 0]

In [28]:
def avgs(column):
    # Calculate the average satisfaction for cases when employees left
    val_left = left_df[column].mean()
    
    # Calculate the average satisfaction for cases when employees left
    val_not_left = not_left_df[column].mean()
    
    return (val_left, val_not_left)

In [29]:
print(avgs('satisfaction_level'))

(0.4400980117614114, 0.666809590479524)

In [30]:
print(avgs('last_evaluation'))

(0.7181125735088211, 0.7154733986699335)

In [34]:
print(avgs('number_project'))

(3.8555026603192384, 3.786664333216661)

In [35]:
print(avgs('time_spend_company'))

(3.876505180621675, 3.3800315015750786)

In [36]:
print(avgs('Work_accident'))

(0.047325679081489776, 0.17500875043752187)

In [37]:
print(avgs('promotion_last_5years'))

(0.005320638476617194, 0.026251312565628283)

In [ ]:
# Among continuous variables, satisfaction_level, Work_accident, promotion_last_5years